<div class="main-content3">
        <div class="text-section">
            <h1>Acerca de esta Página</h1>
            <p>Esta página web ha sido desarrollada como parte de un proyecto académico en Programación 1 en USMP. Su propósito es demostrar los conocimientos adquiridos en desarrollo web.</p>
            <p>A lo largo del desarrollo de esta página, hemos aplicado conceptos clave de .net, git, con el fin de crear un producto funcional y educativo.</p>
            <p>Este trabajo refleja nuestro compromiso con el aprendizaje y el esfuerzo por integrar teoría y práctica en un entorno digital. Agradecemos a nuestros profesores y compañeros por su apoyo en este proceso.</p>
        </div>
        <div class="logo-section">
            <img src="~/images/logo.jpg" alt="Logo">
        </div>
    </div>