@{
    ViewData["Title"] = "Home";
}

<div class="home-container">
 

    <div class="main-content">
        <img src="~/images/bull-bear.png" alt="Bull and Bear" class="market-image" />
    </div>
    <button class="btn-start" onclick="location.href='@Url.Action("InversionInicio", "Home")'">INICIAR OPERACIONES</button>
</div>
