@model PC1.Models.InversionModel

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversión</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('/images/red.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
        
        }
        .container {
            display: flex;
            justify-content: space-around;
            padding: 50px;
        }
        .form-container, .details-container {
            background-color: #fefefe;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        .form-container h2, .details-container h2 {
            text-align: center;
        }
        .form-container input[type="text"], .form-container input[type="email"], .form-container input[type="date"], .form-container input[type="number"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .form-container input[type="checkbox"] {
            margin-right: 10px;
        }
        .form-container button {
            width: 100%;
            padding: 10px;
            background-color: #d9534f;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form asp-action="Invertir" method="post">
                <h2>Datos de Inversión</h2>
                <input type="text" name="Nombre" placeholder="Nombre y Apellido" required />
                <input type="email" name="Correo" placeholder="Correo electrónico" required />
                <input type="date" name="FechaOperacion" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                <input type="number" name="Dinero" placeholder="Monto a invertir"  required />
                <div>
                    <input type="checkbox" name="SeleccionSP500" />
                    <label for="SeleccionSP500">S&P 500 ($500)</label>
                </div>
                <div>
                    <input type="checkbox" name="SeleccionDowJones" />
                    <label for="SeleccionDowJones">DOW JONES ($300)</label>
                </div>
                <div>
                    <input type="checkbox" name="SeleccionBonosUS" />
                    <label for="SeleccionBonosUS">BONOS US ($120)</label>
                </div>
                <button type="submit">INVERTIR</button>
            </form>
        </div>
    </div>
</body>
</html>