<div class="operacion">
    <h1>Operaci贸n en Bolsa</h1>
    <form method="post" action="/Home/Operacion">
        <label>Nombre y Apellido</label>
        <input type="text" name="NombreApellido" required />
        <label>Correo Electr贸nico</label>
        <input type="email" name="CorreoElectronico" required />
        <label>Fecha de Operaci贸n</label>
        <input type="date" name="FechaOperacion" required />
        <!-- Selecci贸n de instrumentos -->
        <button type="submit">Invertir</button>
    </form>
</div>
